<!DOCTYPE html>
<html lang="en">
        <head>
                <title>My App</title>
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
              </head>
                            <style>
                  body { 
  background: url('/static/b.png')  no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
                  </style>
<body style="
    margin-top: 25%;
">
<center>
<div class="container mt-3">
<h3> Assignment - CSV Uploader Over GCP</h3>
<br>
<a href="/goto">Go To App</a>&nbsp
<br>

</div>
<br>
<div style="
    font-size: 80%;
">
<a href='https://remotemysql.com'>Remote MySql</a> -
{{db}}
</div>
</center>

</body>
</html>